[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nikola = "*"
aiohttp = "*"
watchdog = "*"
ghp-import = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.10"
